.cabecalho {
    color: #069;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    /*font-weight: 700;*/
    text-decoration: none;
}

h3.cabecalho {
    font-weight: 700;
}

.subtitulo {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
}

input:hover, button:hover, textarea:hover, select:hover {
    box-shadow: 0 0 5px #3C8DBC;
}

.main-footer2 {
    -moz-transition: 0 .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: 0 .3s ease-in-out, margin .3s ease-in-out;
    -webkit-transition: 0 .3s ease-in-out, margin .3s ease-in-out;
    background: #FFF;
    border-top: 1px solid #D2D6DE;
    color: #444;
    padding: 10px 15px;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    z-index: 820;
}

.par_impar {
    padding: 7px;
}

.par_impar:nth-child(even) {
    background: #FFF;
}

.par_impar:nth-child(odd) {
    background: rgba(232, 232, 232, 0.71);
}

.spinLoading {
    background: #3C8DBC;
    border: 1px solid #666;
    border-radius: 14px;
    box-shadow: #000 2px 2px 40px;
    display: none;
    height: 120px;
    left: calc(50% - 60px);
    opacity: 0.75;
    position: fixed;
    top: calc(50% - 60px);
    width: 120px;
    z-index: 10000;
}

.nav-tabs > li > a {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #DDD #DDD transparent;
}

.nav-tabs {
    border-bottom: 1px solid #AAA !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 1px solid #AAA !important;
    border-right: 1px solid #AAA !important;
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid #AAA !important;
}

.nav-tabs > li > a:hover {
    border-color: #EEE #EEE #AAA !important;
}

.bold {
    font-weight: bold;
}

@media ( max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
}

.verde {
    background-color: rgba(115, 216, 114, 0.5);
    padding: 0.5em;
    border: 1px solid rgba(88, 195, 66, 0.5);
}

.amarelo {
    background-color: rgba(243, 233, 116, 0.5);
    padding: 0.5em;
    border: 1px solid rgba(222, 212, 95, 0.5);
}

.vermelho {
    background-color: rgba(245, 107, 107, 0.5);
    padding: 0.5em;
    border: 1px solid rgba(224, 86, 86, 0.5);
}

.SumoSelect {
    padding-bottom: 12px;
}

li.opt.selected {
    font-weight: bold !important;
}

.fa.pull-right {
    margin-right: 1em !important;
}

.thead {
    background-color: rgb(217, 218, 218);
    padding: 5px;
}

.espace-artifact {
    padding: 8px 8px 0px 30px;
    white-space: nowrap
}

.artifact {
    padding: 2px 7px;
    border-radius: 3px;
    color: #FFFFFF;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
}

.release {
    background-color: #FF9400 !important;
    border: 0 !important;
}

.sprint, .status-planned, .status-current {
    background-color: #92C71E !important;
    border: 0 !important;
}

.story {
    background-color: #33C0EA;
}

.task {
    background-color: #0FD8D8;
}

.unkown {
    color: black;
}

.status-Done, .status-Close, .status-close {
    text-decoration: line-through;
    box-shadow: inset 0 0 0 1000px rgba(170, 170, 170, .7);
}

.popover {
    max-width: 50% !important;
}

.main-header .logo .logo-lg {
    margin-top: 0px !important;
    font-family: 'Gotham';
    font-weight: bold;
    font-variant: small-caps;
}

table.tabelaBorda, .tabelaBorda > tr > td,
.tabelaBorda > thead > tr > td, .tabelaBorda > tbody > tr > td {
    border: 1px solid black;
}

.box.box-primary {
    border-top-color: rgba(60, 141, 188, 0.5) !important;
}

.box.box-info {
    border-top-color: rgba(0, 192, 239, 0.25) !important;
}

.gantt_tooltip {
    border: 1px solid black !important;
}

.gantt_task_line {
    border-radius: 0 !important;
    border: 1px solid #aaa !important;
}